body {
    width: 100%;
    background-color: #eeffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    margin: 20px;
    text-font: bold;
}
h2, h3 {
    margin: 16px;
}
table {
    width: 90%;
    border-radius: 10px;
    color: black;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 8px 11px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f8f8f8;
}
tr:nth-child(event) {
    background-color: #f9f9f9;
}
caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}