<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/estilos.css">
  <title>Documentación de la API</title>
</head>
<body>
  <h1>Documentación de la API</h1>
  <hr>
  <h2>Requerimiento 1. Documentación de usuario</h2>
  <hr>
  <h3>Auntenticar usuarios</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>1</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Auntenticar usuarios</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/auth</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite listar los usuarios registrados en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>POST</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>NULL</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador, Operario, Instructor, Aprendiz</td>
    </tr>
    <tr>
      <td>PETICIÓN json</td>
      <td>{'login':'jv1424937@gmail.com','password':'jv1234'}</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "status": 200,
          "user": [
            {
              "identificacion": 1004738034, 
              "nombre": "Jose Velez", 
              "email": "jv1424937@gmail.com", 
              "rol": "Administrador" 
            }
          ],
          "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
          "msg": "Usuario autorizado."
        } <br />
        Incorrecto:
        Status: 404
        body: {
          status: 404,
          msg: "Usuarios incorrecto"
        }<br />
        Incorrecto:
        Status: 404
        body: {
          status: 404,
          msg: "Contraseña incorrecta"
        }<br />
        Incorrecto:
        Status: 400
        body: {
          status: 400,
          msg: "Se requiere el token"
        }<br />
        Incorrecto:
        Status: 400
        body: {
          status: 400,
          msg: "Token incorrecto"
        }<br />
        Error: 
        status: 500,
        body:{
          "status":500,"msg":e
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Registrar usuarios</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>2</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Registrar usuarios</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/usuario</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite registrar usuarios en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>POST</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>{"identificacion":1004738034,"nombre"; "jose  Velez","image":"file","telefono":"3229499135","email":"jv1424937@gmail.com","password":'jv1234',"rol": "Administrador"}</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "status": 200,
          "msg": "Se registró con éxito el usuario"
        } <br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        Status: 404
        body: {
          status: 404,
          msg: "No se pudo registrar el usuario"
        }<br />
        Error: 
        status: 500,
        body:{
          "status":500,"msg":"Error al registrar usuario: "+e
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Listar usuarios</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>3</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Listar usuario</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/usuario</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite listar los usuarios registrados en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>NULL</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        [
          {
            "identificacion": 4544646,
            "nombre": "Rosa Muñoz",
            "image": "IMG_20191206_115956.jpg",
            "Telefono": "3206674897",
            "email": "rosaelenamunoz@gmail.com",
            "password": "$2b$08$PFv/8psg7jlZcZbnXJ9ws.D6Y.dqWkfX6rUR79hllsJB.I4XhjgKO",
            "rol": "Aprendiz",
            "fecha_creacion": "2025-10-30T08:39:19.000Z"
          },
          {
            "identificacion": 5663653,
            "nombre": "Pedro Velez",
            "image": "IMG_20230723_181825_293.jpg",
            "Telefono": "3117468516",
            "email": "pedroarturovelezmunoz@gmail.com",
            "password": "$2b$08$eMxKT4nK7EH7YGg8x9bjdehIvG0GXsjIkJ8FknJvMsHFkShA6xvJO",
            "rol": "Instructor",
            "fecha_creacion": "2025-10-30T00:55:20.000Z"
          },
          {
            "identificacion": 1004738034,
            "nombre": "Jose Velez",
            "image": "foto-aprendiz.png",
            "Telefono": "3229499135",
            "email": "jv1424937@gmail.com",
            "password": "$2a$08$yeNnSgut1fEYWBvB7NF9oONs2eDk8Yz28LxP8oBmjQo0DEPu3FsUW",
            "rol": "Administrador",
            "fecha_creacion": "2025-09-30T07:16:18.000Z"
          }
        ]<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status:{
          status: 404,
          msg: "No hay usuarios registrados...!!!"
        }<br />
        Error: 
        status: 500,
        body:{
          status:500,msg:"Error: "+e
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Buscar usuario</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>4</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Buscar usuario</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/usuario/:id</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite listar un usuario registrado en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador, Operario, Instructor, Aprendiz</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>NULL</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "identificacion": 1004738034,
          "nombre": "Jose Velez",
          "image": "foto-aprendiz.png",
          "Telefono": "3229499135",
          "email": "jv1424937@gmail.com",
          "password": "$2a$08$yeNnSgut1fEYWBvB7NF9oONs2eDk8Yz28LxP8oBmjQo0DEPu3FsUW",
          "rol": "Administrador",
          "fecha_creacion": "2025-09-30T07:16:18.000Z"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status:{
          status: 404,
          msg: "No se encontró ningún usuario con ese ID "
        }<br />
        Error: 
        status: 500,
        body:{
          status:500,msg:"Error del servidor al intentar buscar el usuario."+e
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Eliminar usuario</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>5</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Eliminar usuario</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/usuario/:id</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite eliminar un usuario registrado en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>DELETE</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>NULL</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "status": 200,
          "msg": "Se eliminó el usuario con la identificacion: "
        } <br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status:{
          status: 404,
          msg: "No se encontró el usuario con la identificacion: "
        }<br />
        Error: 
        status: 500,
        body:{
          status:500,msg:'Error: '+error.message
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Actualizar usuario</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>6</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Actualizar usuario</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/usuario/:id</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite actualizar un usuario registrado en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>PUT</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>{"identificacion":1004738034,"nombre"; "Jose A Velez","image":"file","telefono":"3229499135","email":"jv1424937@gmail.com","password":'jv1234',"rol": "Administrador"}</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "status": 200,
          "msg": "El usuario fue actualizado correctamente."
        } <br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status:{
          status: 404,
          msg: "No se encontró el usuario con la identificacion: "
        }<br />
        Error: 
        status: 500,
        body:{
          status:500,msg:"Error del servidor al intentar editar el usuario."+e
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Actualizar datos del usuario</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>7</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Actualizar datos del usuario</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/usuario-data/:id</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite actualizar los datos de un usuario que este registrado en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>PUT</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador, Operario, Instructor, Aprendiz</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>{"nombre"; "Jose Alejandro Velez","image":"file","telefono":"3229499135","email":"jv1424937@gmail.com"}</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "status": 200,
          "msg": "Los datos del usuario fue actualizado correctamente."
        } <br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status:{
          status: 404,
          msg: "No se encontró el usuario con la identificacion: "
        }<br />
        Error: 
        status: 500,
        body:{
          status:500,msg:"Error del servidor."+e
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Actualizar contraseña del usuario</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>8</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Actualizar contraseña del usuario</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/usuario-password/:id</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite actualizar la contraseña de un usuario que este registrado en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>PUT</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador, Operario, Instructor, Aprendiz</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>("password":jv123456)</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "status": 200,
          "msg": "La contraseña del usuario fue actualizado correctamente."
        } <br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status:{
          status: 404,
          msg: "No se encontró el usuario con la identificacion: "
        }<br />
        Error: 
        status: 500,
        body:{
          status:500,msg:"Error del servidor."+e
        }
      </td>
    </tr>
  </table>


  <br><br><hr>
  <h2>Requerimiento 2. Documentación de categorías</h2>
  <hr>
  <h3>Registrar categorías</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>1</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Registrar categorías</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/area</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite registrar areas en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>POST</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>{"nombre": "Infraestructura", "descripcion": "Reportes relacionados con mantenimiento, fallas eléctricas, daños estructurales o limpieza en los ambientes."}</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "status": 200,
          "msg": "Se registró con éxito el categoría."
        } <br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        Status: 404
        body: {
          status: 404,
          msg: "No se pudo registrar el categoría."
        }<br />
        Error: 
        status: 500,
        body:{
          "status":500,"msg":"Error al registrar: "+e
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Listar categorías</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>2</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Listar categorías</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/area</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite listar las categorías que estan registrados en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador, Operario, Instructor, Aprendiz</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>NULL</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: [
          {
            "id": 1,
            "nombre": "Infraestructura",
            "descripción": "Reportes relacionados con mantenimiento, fallas eléctricas, daños estructurales o limpieza en los ambientes.",
            "fecha_registro": "2025-11-06T23:09:47.000Z",
            "fecha_actualizacion": "2025-11-06T23:09:47.000Z"
          },
          {
            "id": 2,
            "nombre": "Equipos de Cómputo",
            "descripción": "Incidencias o solicitudes relacionadas con computadores, impresoras, monitores y periféricos.",
            "fecha_registro": "2025-11-06T23:12:45.000Z",
            "fecha_actualizacion": "2025-11-06T23:12:45.000Z"
          }
        ]<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status: {
          "status": 404,
          "msg": "No hay categorías registradas."
        }<br />
        Error: 
        status: 500,
        body:{
          status:500,msg:"Error: "+e
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Buscar categorias</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>3</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Buscar categorias</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/categoria/:id</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite listar una categoria registrada en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador, Operario, Instructor, Aprendiz</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>NULL</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "id": 3,
          "nombre": "Red y Conectividad",
          "descripción": "Problemas o solicitudes relacionados con internet, cableado de red, routers o conexiones inalámbricas.",
          "fecha_registro": "2025-11-06T23:20:44.000Z",
          "fecha_actualizacion": "2025-11-06T23:20:44.000Z"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status: {
          "status": 404,
          "msg": "No se encontró ninguna categoría con el ID "
        }<br />
        Error: 
        status: 500,
        body:{
          status:500,msg:"Error del servidor."+e
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Eliminar categorías</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>4</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Eliminar categorías</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/categoria/:id</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite eliminar una categoría registrada en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>DELETE</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>NULL</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "status": 200,
          "msg": "Se eliminó el categoría."
        } <br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status: {
          "status": 404,
          "msg": "No se encontró el categoría con el ID: "
        }<br />
        Error: 
        status: 500,
        body:{
          status:500,msg:'Error: '+error.message
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Actualizar categorías</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>5</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Actualizar categorías</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/categoria/:id</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite actualizar una categoría que esta registrado en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>PUT</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>{"nombre": "Red y Conectividad", "descripcion": "Problemas o solicitudes relacionados con internet, cableado de red, routers o conexiones inalámbricas."}</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "status": 200,
          "message": "El categoría fue actualizado correctamente."
        } <br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status:{
          "status": 404,
          "message": "No se encontró el categoría con el ID: "
        }<br />
        Error: 
        status: 500,
        body:{
          status:500,msg:"Error del servidor."+e
        }
      </td>
    </tr>
  </table>


  <br><br><hr>
  <h2>Requerimiento 3. Documentación de areas</h2>
  <hr>
  <h3>Registrar areas</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>1</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Registrar areas</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/area</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite registrar areas en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>POST</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>{"nombre": "Ambiental", "descripcion": "Area para el medio ambiente"}</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "status": 200,
          "msg": "Se registró con éxito el area"
        } <br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        Status: 404
        body: {
          status: 404,
          msg: "No se pudo registrar el area"
        }<br />
        Error: 
        status: 500,
        body:{
          "status":500,"msg":"Error al registrar: "+e
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Listar areas</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>2</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Listar area</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/area</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite listar las areas que estan registrados en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador, Operario, Instructor, Aprendiz</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>NULL</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: [
          {
            "id": 1,
            "nombre": "Tic",
            "descripción": "Area de tecnologia",
            "fecha_creacion": "2025-11-06T14:02:08.000Z"
          },
          {
            "id": 2,
            "nombre": "Ambiental",
            "descripción": "Area para el medio ambiente",
            "fecha_creacion": "2025-11-06T14:03:12.000Z"
          }
        ]<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status:{
          status: 404,
          msg: "No hay areas registradas...!!!"
        }<br />
        Error: 
        status: 500,
        body:{
          status:500,msg:"Error: "+e
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Buscar area</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>3</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Buscar area</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/area/:id</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite listar un area registrada en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador, Operario, Instructor, Aprendiz</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>NULL</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "id": 2,
          "nombre": "Ambiental",
          "descripción": "Area para el medio ambiente",
          "fecha_creacion": "2025-11-06T14:03:12.000Z"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status:{
          status: 404,
          msg: "No se encontró ningún area con ese ID "
        }<br />
        Error: 
        status: 500,
        body:{
          status:500,msg:"Error del servidor."+e
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Eliminar areas</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>4</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Eliminar areas</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/area/:id</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite eliminar un area registrada en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>DELETE</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>NULL</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "status": 200,
          "msg": "Se eliminó el area"
        } <br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status:{
          status: 404,
          msg: "No se encontró el area con el ID: "
        }<br />
        Error: 
        status: 500,
        body:{
          status:500,msg:'Error: '+error.message
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Actualizar areas</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>5</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Actualizar areas</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/area/:id</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite actualizar un area que esta registrado en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>PUT</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>{"nombre": "Ambiental", "descripcion": "Area de enseñanza para el medio ambiente"}</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "status": 200,
          "message": "El area fue actualizado correctamente."
        } <br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status:{
          status: 404,
          msg: "No se encontró el area con el ID: "
        }<br />
        Error: 
        status: 500,
        body:{
          status:500,msg:"Error del servidor."+e
        }
      </td>
    </tr>
  </table>


  <br><br><hr>
  <h2>Requerimiento 4. Documentación de ambientes</h2>
  <hr>
  <h3>Registrar ambientes</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>1</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Registrar ambientes</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/ambiente</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite registrar los ambientes en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>POST</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>{"nombre": "Ambiente y14",	"ubicacion": "En las tics cerca de al ambiental por los lados del porton de arriba","capacidad": 32, "estado": "Disponible", "areaId": 1}</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "status": 200,
          "msg": "Se registró con éxito el ambiente"
        } <br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        Status: 404
        body: {
          status: 404,
          msg: "No se pudo registrar el ambiente"
        }<br />
        Error: 
        status: 500,
        body:{
          "status":500,"msg":"Error al registrar: "+e.message
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Listar ambientes</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>2</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Listar ambientes</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/ambiente</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite listar los ambientes que estan registrados en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador, Operario, Instructor, Aprendiz</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>NULL</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        Body: [
          {
            "id": 1,
            "nombre": "Ambiente y14",
            "ubicación": "En las tics cerca de al ambiental por los lados del porton de arriba",
            "capacidad": 32,
            "estado": "Disponible",
            "area_id": 1,
            "fecha_creacion": "2025-11-06T14:06:59.000Z"
          },
          {
            "id": 2,
            "nombre": "Ambiente y15",
            "ubicación": "En ambiental cerca de las tics por los lados del p",
            "capacidad": 30,
            "estado": "Disponible",
            "area_id": 2,
            "fecha_creacion": "2025-11-06T16:23:06.000Z"
          }
        ]<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status:{
          status: 404,
          msg: "No hay ambientes registradas."
        }<br />
        Error: 
        status: 500,
        body:{
          status:500,msg:"Error: "+e
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Listar ambientes utilizando JOIN</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>3</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Listar ambientes utilizando JOIN</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/ambienteJoin</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite listar los ambientes que estan registrados en la base de datos utilizando JOIN</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador, Operario, Instructor, Aprendiz</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>NULL</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        Body: [
          {
            "id": 2,
            "nombre": "Ambiente y15",
            "ubicacion": "portón de arriba.",
            "capacidad": 30,
            "estado": "Disponible",
            "area_id": "Ambiental.",
            "fecha_creacion": "2025-11-15T23:53:28.000Z"
          },
          {
            "id": 1,
            "nombre": "Ambiente y14.",
            "ubicacion": "En las tics cerca de al ambiental por los lados del portón de arriba.",
            "capacidad": 32,
            "estado": "Disponible",
            "area_id": "Tic.",
            "fecha_creacion": "2025-11-15T23:50:44.000Z"
          }
        ]<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status:{
          status: 404,
          msg: "No hay ambientes registradas."
        }<br />
        Error:
        status: 500,
        body:{
          status:500,msg:"Error: "+e
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Buscar ambiente</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>4</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Buscar ambiente</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/ambiente/:id</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite listar un ambiente registrado en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador, Operario, Instructor, Aprendiz</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>NULL</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "id": 1,
          "nombre": "Ambiente y14",
          "ubicación": "En las tics cerca de al ambiental por los lados del porton de arriba",
          "capacidad": 32,
          "estado": "Disponible",
          "area_id": 1,
          "fecha_creacion": "2025-11-06T14:06:59.000Z"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status:{
          status: 404,
          msg: "No se encontró ningún ambiente con ese ID "
        }<br />
        Error: 
        status: 500,
        body:{
          status:500,msg:"Error del servidor."+e
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Buscar ambiente utilizando JOIN</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>5</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Buscar ambiente utilizando JOIN</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/ambienteJoin/:id</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite listar un ambiente que estan registrados en la base de datos utilizando JOIN</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador, Operario, Instructor, Aprendiz</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>NULL</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        Body: {
          "id": 2,
          "nombre": "Ambiente y15",
          "ubicacion": "portón de arriba.",
          "capacidad": 30,
          "estado": "Disponible",
          "area_id": "Ambiental.",
          "fecha_creacion": "2025-11-15T23:53:28.000Z"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status:{
          status: 404,
          msg: "No se encontró ningún ambiente con ese ID "
        }<br />
        Error:
        status: 500,
        body:{
          status:500,msg:"Error del servidor. "+e
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Eliminar ambientes</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>6</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Eliminar ambientes</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/ambiente/:id</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite eliminar un ambiente que este registrado en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>DELETE</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>NULL</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "status": 200,
          "msg": "Se eliminó el ambiente"
        } <br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status:{
          status: 404,
          msg: "No se encontró el ambiente con el ID: "
        }<br />
        Error: 
        status: 500,
        body:{
          status:500,msg:'Error: '+error.message
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Actualizar ambientes</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>7</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Actualizar ambiente</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/ambiente/:id</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite actualizar un ambiente registrado en la base de datos</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>PUT</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>{"nombre": "Ambiente y14",	"ubicacion": "En las tics cerca de al ambiental por los lados del porton de arriba","capacidad": 32, "estado": "Disponible", "areaId": 1}</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        body: {
          "status": 200,
          "msg": "El ambiente fue actualizado correctamente."
        } <br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status:{
          status: 404,
          msg: "No se encontró el ambiente con el ID: "
        }<br />
        Error: 
        status: 500,
        body:{
          status:500,msg:"Error del servidor."+e
        }
      </td>
    </tr>
  </table>

  <hr>
  <h3>Buscar ambiente por el area</h3>
  <table>
    <tr>
      <td>NÚMERO</td>
      <td>8</td>
    </tr>
    <tr>
      <td>NOMBRE DE SERVICIO</td>
      <td>Buscar ambiente por el area</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/api/ambienteJoin/:id</td>
    </tr>
    <tr>
      <td>DESCRIPCIÓN</td>
      <td>Permite listar un ambiente que estan registrados en la base de datos por el id del area</td>
    </tr>
    <tr>
      <td>VERBO HTTP</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>HEADER</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>USUARIOS</td>
      <td>Administrador, Operario, Instructor, Aprendiz</td>
    </tr>
    <tr>
      <td>PETICIÓN BODY</td>
      <td>NULL</td>
    </tr>
    <tr>
      <td>REPUESTA JSON</td>
      <td>
        Correcto:
        Status: 200
        Body: [
          {
            "id": 1,
            "nombre": "Ambiente y14.",
            "ubicacion": "En las tics cerca de al ambiental por los lados del portón de arriba.",
            "capacidad": 32,
            "estado": "Disponible",
            "area_id": "Tic.",
            "fecha_creacion": "2025-11-15T23:50:44.000Z"
          },
          {
            "id": 3,
            "nombre": "Ambiente y16",
            "ubicacion": "portón de arriba.",
            "capacidad": 30,
            "estado": "Disponible",
            "area_id": "Tic.",
            "fecha_creacion": "2025-11-27T14:25:54.000Z"
          }
        ]<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Se requiere el token"
        }<br />
        Incorrecto:
        status: 400,
        Status:{
          "status": 400,
          "message": "Token incorrecto"
        }<br />
        Incorrecto:
        status: 404,
        Status:{
          status: 404,
          msg: "No se encontró ningún ambiente con el area de ID "
        }<br />
        Error:
        status: 500,
        body:{
          status:500,msg:"Error del servidor. "+e
        }
      </td>
    </tr>
  </table>



  <br><br><hr>
  <h2>Requerimiento 5. Documentación de equipos</h2>
  <hr>
  <h3>Registrar ambientes</h3>
</body>
</html>